
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --farba-pozadia: #FEF3FF;
    --primarny-text: #0E0E0C;
    --farba-nazvov: #853ECD;
    --farba-ramov: #FEDCF6;

    --primarne1: #FF88D8;
    --primarne2: #FFAFE5;
    --sekundarne1: #26113C;
    --sekundarne2:#642A9F;
    --akcent1:#4AAE5F;
    --akcent2:#77D48A;
    --akcent3:#8CE59E;
}
/*===============================================================================*/

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FEF3FF;
    margin: 0;
    padding: 0;
}

h1 {
font-size: 35px;
color: #642A9F;
-webkit-text-stroke: 1px #3F205E;
}


/*===============================================================================*/
/*DOMOV*/
/*===============================================================================*/


header {
    text-align: left;
    font-size: 11.5px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-color: #fedcf6;
    border: 5px solid #fedcf6;
    width: 100%;
    }


nav {
    padding: 10px 20px;
    position: relative;
    margin-left: 2px;
    }

    /* Hamburger button */
    .menu-btn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
    }

    /* Navigation links */
    .menu {
    display: flex;
    gap: 20px;
    }

    .menu a {
    color: white;
    text-decoration: none;
    }

    /* Mobile styles */
    /*=====================================================================*/
/*============================================================================*/
.header_logo{
    font-family: Nunito;
    margin-bottom: 2px;
    font-size: x-large;
    padding: 5px;
    padding-left: 30px;
    margin-top: -42px;
    margin-left: 30px;

}
a{
    text-decoration: none;
    color: var(--farba_pozadia);
    font-family: Nunito;
}


p {
    margin-top: -20px;
    font-size: small;
}

.profilovka{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.obrazok {
    overflow: hidden;
}

a {
    font-size: 10px;
}

h3 {
    font-weight: 400;
    font-size: 14px;
    color: #3F205E;
}

header p {
    /* width: 200%; */
}

.mojeprojekty{
    background: #f7c6ea; 
    color: #3f205e;
    padding: 6px 13px;
    border-radius: 50px; 
    text-decoration: none;
    font-weight: 450;
    letter-spacing: 1px;
    transition: 0.3s;
    font-size: x-small;
}

.hero__obal{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero__sekcia {
    margin-left: 20px;
}
.container {
    width: 100%;

}

.hero__text {

}

/*===============================================================================*/

h2 {
    font-size: 30px;
color: #853ecd;
-webkit-text-stroke: 1px #3F205E;
letter-spacing: 3px;
}

.o__mne_obal {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.o__mne_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.zistitviac {
    background: #f7c6ea; 
    color: #3f205e;
    padding: 6px 13px;
    border-radius: 50px; 
    text-decoration: none;
    font-weight: 450;
    letter-spacing: 1px;
    transition: 0.3s;
    font-size: x-small;
    margin-left: 132px;
}

/*===============================================================================*/

.moje__projekty_obal {
    text-align: center;
}

.moje__projekty_text {
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.moje__projekty_text2 {
    margin-left: 10px;
    margin-right: 10px;
}

.buducnost {
    width: 300px;
    height: 200px;
    border-radius: 25px;
    border: 5px solid #642a9f;  
}

.benatky {
    width: 200px;
    height: 300px;
    border-radius: 25px;
    border: 5px solid #642a9f;
}

.plagat {
    width: 200px;
    height: 300px;
    border-radius: 25px;
    border: 5px solid #642a9f; 
}

h4 {
    color: #4aae5f;
    font-size: 20px;
    margin-top: 5px;
}


.info__projekty {
    font-size: 15px;
    margin-bottom: 30px;
}

.moje__projekty_info1 {
    margin-bottom: 40px;
    margin-top: 20px;
    background-color: #fedcf6;
    border-radius: 20px;
    margin-top: 20px;
    padding: 1px;

}

.moje__projekty_info2 {
    margin-bottom: 40px;
    margin-top: 20px;
    background-color: #fedcf6;
    border-radius: 20px;
    margin-top: 20px;
    padding: 1px;
}

.moje__projekty_info3 {
    margin-bottom: 40px;
    background-color: #fedcf6;
    border-radius: 20px;
    margin-top: 20px;
    padding: 1px;
}

.mojeprojektyy {
    background: #f7c6ea; 
    color: #3f205e;
    padding: 6px 13px;
    border-radius: 50px; 
    text-decoration: none;
    font-weight: 450;
    letter-spacing: 1px;
    transition: 0.3s;
    font-size: x-small;
    margin-left: 120px;

}


/*===============================================================================*/

.zaver {
    text-align: center;
    margin-top: 50px;
}

.kontaktovat {
    background: #f7c6ea; 
    color: #3f205e;
    padding: 6px 13px;
    border-radius: 50px; 
    text-decoration: none;
    font-weight: 450;
    letter-spacing: 1px;
    transition: 0.3s;
    font-size: x-small;
    margin-left: 120px; 
}

/*===============================================================================*/
/*PORTFOLIO*/
/*===============================================================================*/


.portfolio__obal {
    text-align: center;
}

.portfolio__text {
    margin-top: 50px;
}


.portfolio__nazov {
    letter-spacing: 5px;
    margin-bottom: 30px;
}

.kalendarr {
    width: 180px;
    height: 250px;
    border-radius: 25px; 
    margin-top: 40px;
    border: 5px solid #642a9f;  
}


.info__portfolio_technologie {
    padding-top: 5px;
    color: #3F205E;
}


.zobrazitprojekt {
background: #f7c6ea; 
    color: #3f205e;
    padding: 6px 13px;
    border-radius: 50px; 
    text-decoration: none;
    font-weight: 450;
    letter-spacing: 1px;
    transition: 0.3s;
    font-size: x-small;

}

.zobrazitprojekt1 {
background: #f7c6ea; 
    color: #3f205e;
    padding: 6px 13px;
    border-radius: 50px; 
    text-decoration: none;
    font-weight: 450;
    letter-spacing: 1px;
    transition: 0.3s;
    font-size: x-small;

}


.zobrazitprojekt2 {
background: #f7c6ea; 
    color: #3f205e;
    padding: 6px 13px;
    border-radius: 50px; 
    text-decoration: none;
    font-weight: 450;
    letter-spacing: 1px;
    transition: 0.3s;
    font-size: x-small;

}


.meno {
    width: 200px;
    height: 150px;
    border-radius: 25px; 
    margin-top: 40px;
    border: 5px solid #642a9f;  
}


.reinterpretacia {
    width: 200px;
    height: 150px;
    border-radius: 25px; 
    margin-top: 40px;
    border: 5px solid #642a9f;
}

.buducnost2 {
    width: 200px;
    height: 150px;
    border-radius: 25px; 
    margin-top: 40px;
    border: 5px solid #642a9f;
}


.perspektiva {
    width: 180px;
    height: 250px;
    border-radius: 25px; 
    margin-top: 40px;
    border: 5px solid #642a9f;
}

.plagat2 {
    width: 180px;
    height: 250px;
    border-radius: 25px; 
    margin-top: 40px;
    border: 5px solid #642a9f;
}

/*===============================================================================*/
/*O MNE*/
/*===============================================================================*/


.o__mne_obal_html {
    text-align: center;
}

.o__mne_nazov {
    letter-spacing: 5px;
    font-size: 40px;

}

.o_mne_profil {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.o__mne_text_html {
    margin-left: 10px;
    margin-right: 10px;
}



 .o__mne_druhy_odstavec {
    padding-top: 10px;
 }


 .o__mne_studium_obal {
    text-align: center;
 }

 .o__mne_studium_nazov {
    margin-top: 50px;
 }
 
 .o__mne_studium_text {
   margin-bottom: 35px;
 }  

.vs_code {
    width: 80px;
    height:80px;
    border-radius: 25px;
    border: 7px solid #853ecd;
}

.programovanie_text{
    font-size: 12px;
}

.programovanie_text2{
    font-size: 11px;
    padding-top: 5px;
}

.canva {
    width: 80px;
    height:80px;
    border-radius: 25px;
    border: 7px solid #853ecd;
}

.premiere {
    width: 80px;
    height:80px;
    border-radius: 25px;
    border: 7px solid #853ecd;
}


.studium_obal {
    display: flex;
    align-content: center;
}

.studium {
    background-color: #fedcf6;
    border: solid #fedcf6 10px;
    text-align: center;
}

/*===============================================================================*/
/*KONTAKT*/
/*===============================================================================*/


.kontakt__obal {
    text-align: center;
}

.kontakt__text {
    line-height: 1.8;
}


input,
textarea {
    background-color: #f8e4ff; /* svetloružová */
    border: none;              /* odstráni okraj */
    border-radius: 12px;       /* zaoblené rohy */
    padding: 15px;
    font-size: 12px;
}

.formular__text {
    margin-top: 20px;
    margin-bottom: 20px;
}

.formular__email {
    margin-bottom: 20px;
    margin-top: 20px;
}

.formular__textarea {
    margin-bottom: 20px;
    margin-top: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.kontakt_udajeee {
    font-size: 12.5px;
}

.socialne_sieteee {
    font-size: 12.5px;
}

.gmail_mobil {
    background-color: #ffe4fb; /* svetloružová */
    border: none;              /* odstráni okraj */
    border-radius: 12px;       /* zaoblené rohy */
    padding: 15px;
    font-size: 12px;
    margin-left:25px;
    
}

.ssocialne_siete {
    background-color: #ffe4fb; /* svetloružová */
    border: none;              /* odstráni okraj */
    border-radius: 12px;       /* zaoblené rohy */
    padding: 25gipx;
    font-size: 12px;
    margin-left:25px;
    margin-top:20px;
}

#gmail {
    margin-bottom: 20px;
    margin-top: 20px;
}

#mobil {
    margin-bottom: 20px;
    margin-top: 20px;
}


/*===============================================================================*/
@media (max-width: 768px) {
    .menu-btn {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        background: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 10px 0;
    }

    .menu.active {
        display: flex;
    }

    .menu a {
        padding: 10px 20px;
    }
}

/*-------------------------------------------------*/

@media (min-width:768px) {

/*---------------index------------------*/


    h3 {
        font-size: 25px;
    }

    .hero__sekcia{
        margin-left: 300px;

    }

    .desktop_nazov {
        font-size: 120px;
    }

.profilovka {
    width: 180px;
    height: 180px;
    margin-left:80px;
}

p {
    font-size: 30px;
}

.mojeprojekty {
    font-size: 20px;
    margin-left: 525px;

}

h2 {
    font-size: 50px;
}




}






