
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --farba-pozadia: #FEF3FF
    --primarny-text: #0E0E0C
    --farba-nazvov: #853ECD
    --farba-ramov: #FEDCF6

    --primarne1: #FF88D8
    --primarne2: #FFAFE5
    --sekundarne1: #26113C
    --sekundarne2:#642A9F
    --akcent1:#4AAE5F
    --akcent2:#77D48A
    --akcent3:#8CE59E
}
/*===============================================================================*/

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FEF3FF
}

h1 {
font-size: 35px;
color: #642A9F;
-webkit-text-stroke: 1px #3F205E;
}

/*===============================================================================*/

header {
    text-align: left;
    font-size: 11.5px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-color: #fedcf6;
    border: 20px #3f205e;
    width: 100%;
    }

p {
    margin-top: -20px;
    font-size: small;
}

img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.obrazok {
    overflow: hidden;
}

a {
    font-size: 10px;
}

h3 {
    font-weight: 400;
    font-size: 14px;
    color: #3F205E;
}

header p {
    /* width: 200%; */
}

.mojeprojekty{
    background: #f7c6ea; 
    color: #3f205e;
    padding: 6px 13px;
    border-radius: 50px; 
    text-decoration: none;
    font-weight: 450;
    letter-spacing: 1px;
    transition: 0.3s;
    font-size: x-small;
}

.hero__obal{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container {
    width: 100%;

}

.hero__text {

}

/*===============================================================================*/

h2 {
    font-size: 30px;
color: #642A9F;
-webkit-text-stroke: 1px #3F205E;
letter-spacing: 3px;
}

.o__mne_obal {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.o__mne_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.zistitviac {
    background: #f7c6ea; 
    color: #3f205e;
    padding: 6px 13px;
    border-radius: 50px; 
    text-decoration: none;
    font-weight: 450;
    letter-spacing: 1px;
    transition: 0.3s;
    font-size: x-small;
    margin-left: 132px;
}

/*===============================================================================*/





